<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="false" scan="true" scanPeriod="30 seconds" packagingData="false">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<!-- APPENDER -->

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/applog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/applog.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
			<maxHistory>14</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>500MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%-10.10thread] %-36.36logger{36} %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%-5level] [%-10.10thread] [%-36.36logger{36}] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- LOGGER -->	
	<logger name="com.sds.ocp" level="DEBUG" additivity="false">
		<appender-ref ref="file" />
		<appender-ref ref="console"/>
	</logger>
	
	<root level="WARN">
		<appender-ref ref="file" />
		<appender-ref ref="console"/>
	</root>

</configuration>
